@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.btn_save_group{
	background-color: rgb(88, 88, 88);
	border: 4px solid black; /* Add a transparent border for a subtle outline effect */
	color: rgb(255, 255, 255);
	height: 100px;
	width: 200px; /* Set a fixed width or adjust as needed */
	font-size: 18px; /* Adjust font size as needed */
	border-radius: 25px; /* Add rounded corners for a modern look */
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Smooth transition on hover */
	position: fixed;
	top: 50px;
	right: 45%;
}


.btn_add_material {
	background-color: rgb(88, 88, 88);
	border: 4px solid black; /* Add a transparent border for a subtle outline effect */
	color: rgb(255, 255, 255);
	height: 100px;
	width: 200px; /* Set a fixed width or adjust as needed */
	font-size: 18px; /* Adjust font size as needed */
	border-radius: 25px; /* Add rounded corners for a modern look */
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Smooth transition on hover */
	position: fixed;
	top: 200px;
	right: 45%;
  
	/* Additional styles as needed */
  }
  
  .btn_add_material:hover {
	background-color:  rgb(126, 125, 125); /* Change background color on hover */
	color: white; /* Change text color on hover */
	border-color: #ebe8e8; /* Change border color on hover */
  }

  .btn_save_group:hover {
	background-color:  rgb(126, 125, 125); /* Change background color on hover */
	color: white; /* Change text color on hover */
	border-color: #ebe8e8; /* Change border color on hover */
  }
